[Desktop Entry]
Type=Application
Name=Mendeley Desktop
GenericName=Research Paper Manager
Comment=Mendeley Desktop is software for managing and sharing research papers
Icon=mendeleydesktop
Exec=mendeleydesktop
Categories=Office
Terminal=false
Name[en_US]=mendeleydesktop.desktop
